@font-face {
  font-family: 'Blacksword';
  src: url('../fonts/Blacksword.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cardo-Italic';
  src: url('../fonts/Cardo-Italic.eot');
  src: url('../fonts/Cardo-Italic.woff2') format('woff2'),
       url('../fonts/Cardo-Italic.woff') format('woff'),
       url('../fonts/Cardo-Italic.ttf') format('truetype'),
       url('../fonts/Cardo-Italic.svg#Cardo-Italic') format('svg'),
       url('../fonts/Cardo-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cardo-Regular';
  src: url('../fonts/Cardo-Regular.eot');
  src: url('../fonts/Cardo-Regular.woff2') format('woff2'),
       url('../fonts/Cardo-Regular.woff') format('woff'),
       url('../fonts/Cardo-Regular.ttf') format('truetype'),
       url('../fonts/Cardo-Regular.svg#Cardo-Regular') format('svg'),
       url('../fonts/Cardo-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cardo-Bold';
  src: url('../fonts/Cardo-Bold.eot');
  src: url('../fonts/Cardo-Bold.woff2') format('woff2'),
       url('../fonts/Cardo-Bold.woff') format('woff'),
       url('../fonts/Cardo-Bold.ttf') format('truetype'),
       url('../fonts/Cardo-Bold.svg#Cardo-Bold') format('svg'),
       url('../fonts/Cardo-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body {
	background-image: url(../img/bunting.png);
	background-repeat:repeat-x;
	background-color:#fff;
	font-family: 'Cardo-Regular';
	text-align: justify;
	margin: 0 auto;
	width:50%;
	font-size:1.4em;
	line-height: 50px;
	text-indent: 25px;
	color:#555;
}

h1,h2,h3 {
	font-family:Blacksword;
	word-spacing: 25px;
	font-weight:normal;
}

h1
{
	font-size:4em;
	text-align: center;
	margin-top: 3cm;
	font-weight:normal;
}
h2{
	font-size: 2.5em;
	word-spacing: 25px;
}
h3{
	font-size: 1.5em;
	word-spacing: 10px;
}
cite {
    display: block;
    text-align: right;
    font-style: italic;
}
footer small
{
	display: block;
    text-align: center;
    padding: 25px;
    font-size: 12px;
}
footer small img
{
	width: 50px;
}
a{
	color: #F08080;
	text-decoration: none;
	
}

q{
	text-align: center;
	font-style: italic;
	font-size: 30px;
	display: block;
}
	
